    <footer>
        <h6>© 2019 All Rights Reserved <br> Design by Cesar Cadene & Ulysse Geberowicz | Developed by Ulysse Geberowicz</h6>
    </footer>
    <script src="assets/script/main.js"></script>
    <script src="assets/script/player.js"></script>
    <script src='https://cdn.plyr.io/3.4.6/plyr.js'></script>
</body>
</html>