{% include('partial/header.twig') %}

<div class="container">
    <h1>Catégorie</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Nom de la catégorie:</label>
            <input type="name" class="form-control" placeholder="Entrer catégorie" name="name">
        </div>
        <div class="form-group">
            <label for="link">Lien de la catégorie:</label>
            <input type="text" class="form-control" placeholder="Entrer le lien (nom sans espace)" name="link">
        </div>
        <div class="form-group">
            <label for="link">Légende de la catégorie:</label>
            <input type="text" class="form-control" placeholder="Entrer une légende" name="legend">
        </div>
        <div class="form-group">
            <label for="imageToUpload">Image de la catégorie:</label>
            <input type="file" name="imageToUpload" class="form-control" id="imageToUpload">
        </div>
        <div class="form-group">
            <label for="link">Description de la catégorie:</label>
            <textarea class="form-control" name="description"></textarea>
        </div>
        <input type="submit" class="btn btn-primary">
        <div class="row custom" style="color: {{ color }};">{{ message }}</div>
    </form>
</div>

{% include('partial/footer.twig') %}