{% include('partials/header.twig') %}

<div class="article">
    <div class="presentation">
        <h1>Cesar Cadene</h1>
        {% for _categorie in categories %}
            {% if _categorie.categorie_name == 'As cinematographer' %}
                <h2>{{ _categorie.categorie_name }}</h2>
                <p>{{ _categorie.categorie_content }}</p>
            {% endif %}
        {% endfor %}
        <a class="button" href="{{ path_for('home') }}">home</a>
        <div class="social">
            <a target="_blank" href="http://www.instagram.com/cesar_cadene"><img src="../assets/image/icone_instagram.svg" alt="Icone Instagram"></a>
            <a target="_blank" href="http://www.youtube.com/channel/UCc3qIM6Sp0ukpDpz2IjlG-A"><img src="../assets/image/icone_youtube.svg" alt="Icone Youtube"></a>
        </div>
        <svg class="arrows">
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
    </div>
    <div class="work">
        <video src="../assets/video/BabyLove.mp4" poster="../assets/image/babylove.png">Baby Love - Camila Djadja & Malou Mallerin
        </video>
        <legend>Music clip "Baby Love" from the band Sugar Pill, directed by Camila Djadja and Malou Mallerin 🎥
        </legend>
    </div>
    <div class="work">
        <video src="../assets/video/PROMO_MOTEUR.mp4" poster="../assets/image/Pub_moteur.png">"Le projet Moteur!" - Romane Massard
        </video>
        <legend>Advertisment for "Le projet Moteur!" saison 3, directed by Romane Massard 🎥
        </legend>
    </div>
    <div class="work">
        <video src="../assets/video/Je_suis_donc_je_pense.mp4" poster="../assets/image/je_pense.png">Movie for the "Nikon film festival" - Léo Boucry
        </video>
        <legend>Short film for the "Nikon film festival", directed by Léo Boucry 🎥
        </legend>
    </div>
    <div class="work">
        <video src="../assets/video/Confettis.mov" poster="../assets/image/confetti.png">Movie for the "48H film project 2018"
        </video>
        <legend>Short film made for the 48H film project 2018 in Nantes. 🎥
        </legend>
    </div>
    <div class="also">
        <h4>You may also like</h4>
        <div class="content">
            <article onclick="window.location='director-of-filming'">
                <div class="cover">
                    <img src="../assets/image/maladie_damour.png">
                </div>
                <div class="title">
                    <h3>As director</h3>
                    <span>2019</span>
                </div>
            </article>
            <article>
                <div class="cover">
                    <img src="../assets/image/acceuil.JPG">
                </div>
                <div class="title">
                    <h3>Photography</h3>
                    <span>Comming very soon ...</span>
                </div>
            </article>
        </div>
    </div>
</div>

{% include('partials/footer.twig') %}