{% include('partials/header.twig') %}


<h3>P2022</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta exercitationem molestias aliquam iure eaque minus nam magnam quasi deserunt quo, illum atque perferendis veniam quis hic! Itaque hic facere alias!</p>

<div>
    <a href="{{ path_for('student', { slug: 'slug' }) }}">
        Student name
    </a>
</div>
<div>
    <a href="{{ path_for('student', { slug: 'slug' }) }}">
        Student name
    </a>
</div>
<div>
    <a href="{{ path_for('student', { slug: 'slug' }) }}">
        Student name
    </a>
</div>

{% include('partials/footer.twig') %}